<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cocktail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../engine/static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../engine/static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../engine/static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../engine/static/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../engine/static/assets/css/styles.css">
</head>

<body style="background-size: cover;background-image: url(&quot;assets/img/original_size.jpg&quot;);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Cocktails Engine&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Page principal</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Administration&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="bottles.html">Bouteilles</a><a class="dropdown-item" role="presentation" href="cocktails.html">Cocktails</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°1</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°2</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°3</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°4</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°5</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1>Bouteille N°6</h1><img width="150rem" height="150rem">
                        <p>Nom:&nbsp;</p>
                        <p>Valve:&nbsp;</p>
                        <p>Positionnement: &nbsp;</p>
                        <p>Vide:&nbsp;</p>
                        <p>Ajouter une image:</p>
                        <p>Supprimer:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>