{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="{% url 'engine:cocktailViews' %}">Cocktails
            Engine&nbsp;</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false" href="#">Cocktail par bouteilles&nbsp;</a>
                        <div class="dropdown-menu" role="menu">
                            {% for bottle in bottles %}
                                <a class="dropdown-item" role="presentation"
                                   href="{% url 'engine:cocktailViews' %}?bottle={{ bottle.id }}">{{ bottle.name }}</a>
                            {% endfor %}

                        </div>
                    </li>
                </ul>
                <form class="form-inline mr-auto" target="{% url 'engine:cocktailViews' %}">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                            class="form-control search-field" type="search" name="name" id="search-field"
                            style="width: 9rem;"></div>
                    <button type="submit" class="btn btn-light action-button">Rechercher</button>
                </form>
            </div>
        </div>
    </nav>
    <div id="dialog" title="Fabrication du cocktail">
        <div class="progress-label"></div>
        <div id="progressbar"></div>
    </div>
    <div class="responsive" data-infinite="true" data-show="3">
        {% for cocktail in cocktails %}
            <div class="row">
                <div class="col-md-11 .offset-md-1">
                    <div id="{{ cocktail.name }}" class="jumbotron jumbotron-main text-center" style="padding-top: 1rem">
                        <img class=" d-block m-auto" src="{% if cocktail.image|length > 0 %}{{ cocktail.image.url }}
                                {% else %}{{ MEDIA_URL }}{{ '/cocktail_picture/default.png' }} {% endif %}"
                             width="80rem" height="80rem">
                        <p class=" text-center m-auto">Nom: {{ cocktail.name }}</p>
                        <p class=" text-center m-auto">Description:{{ cocktail.description }}</p>
                        <form class="makecocktail" action="" method="post">
                            <input class=" question" type="hidden" name="cocktail_id" value="{{ cocktail.id }}"><br>
                            <button type="submit" class=" btn btn-primary d-block m-auto" formmethod="post">Faire le
                                cocktails
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer class="fixed-bottom">
        <div class="row justify-content-end">
            <div class="col-auto offset-md-0"><a href="{% url "engine:bottleEngineAdmin" %}"><i class="far fa-sun"
                                                                                                style="font-size: 62px;padding-right: 0.5rem;color: rgb(230,201,116);"></i></a>
            </div>
        </div>

    </footer>
{% endblock %}
{% block javascript %}
    <script src="{% static 'assets/js/cocktailProgress.js' %}"></script>
    <script src="{% static 'assets/js/switchNav.js' %}"></script>

{% endblock %}
