{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'cocktail-engine-admin/navbar.html' %}


    <div style="margin-top: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-11 .offset-md-1">
                    <div class="jumbotron jumbotron-main text-center">
                        <h1>Ajouter un Cocktail</h1><br>
                        <div class="entry">
                            <form class="form" method="post" action="">
                                {% for form in bottle_group.forms %}
                                    <div id="{{ form.prefix }}-row">
                                        <p> {{ form.bottle.label_tag }} {{ form.bottle }} {{ form.dose.label_tag }} {{ form.dose }}



                                    </div>
                                {% endfor %}
                                  {{ cocktail_make_form.as_p }}
                                <p>
                                    {{ bottle_group.management_form }}
                                    <input class="btn btn-primary" type="submit" value="Ajouter">
                                </p>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'assets/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('form div p').formset({
                extraClasses: ['row1', 'row2', 'row3'],
                addText: '',
                deleteText: ''
            })
        })
    </script>
{% endblock %}