{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'cocktail-engine-admin/navbar.html' %}


    <div style="margin-top: 10rem;">
        <div class="responsive" data-infinite="false" data-show="1">
            {% for cocktail in cocktails %}
                <div class="row">
                    <div class="col-md-11 .offset-md-1">
                        <div class="jumbotron jumbotron-main text-center" style="padding-top: 1rem">
                            <img class=" d-block m-auto" src="{% if cocktail.image|length > 0 %}{{ cocktail.image.url }}
                                {% else %}{{ MEDIA_URL }}{{ '/cocktail_picture/default.png' }} {% endif %}"
                                 width="80rem" height="80rem">
                            <p class=" text-center m-auto">Nom: {{ cocktail.name }}</p>
                            <p class=" text-center m-auto">Description:{{ cocktail.description }}</p>
                            <form class="makecocktail" action="" method="get">
                                <input class="question" type="hidden" name="deleteCocktail"
                                       value="{{ cocktail.id }}"><br>
                                <button type="submit" class="btn btn-danger d-block m-auto" formmethod="get">
                                    Supprimer le cocktail
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-11 .offset-md-1">
                    <div class="jumbotron jumbotron-main text-center">
                        <h1>Ajouter un Cocktail</h1><br>
                        <div class="entry">
                            <form class="form" enctype="multipart/form-data" method="post"
                                  action="{% url 'engine:cocktailEngineAdmin' %}">
                                {% for form_set in bottle_form_set.forms %}
                                    <div id="{{ form_set.prefix }}-row">
                                        <p> {{ form_set.bottle.label_tag }} {{ form_set.bottle }} {{ form_set.dose.label_tag }} {{ form_set.dose }}
                                    </div>
                                {% endfor %}
                                {{ cocktail_make_form.as_p }}
                                <p>
                                    {{ bottle_form_set.management_form }}
                                    <input class="btn btn-primary" type="submit" value="Ajouter">
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="{% static 'assets/js/jquery.formset.js' %}"></script>
    <script src="{% static 'assets/js/switchNav.js' %}"></script>
    <script src="{% static 'assets/js/cocktailFormSet.js' %}"></script>
{% endblock %}